Secondary Question:
Visualise and compare generic costume searches vs movie-specific searches.

In [1]:
import numpy as np
import pandas as pd

In [20]:
generic_df = pd.read_csv('datasets/20221018_HalloweenCostumes_Frightgeist.csv', skiprows=1)
movies_df = pd.read_csv('datasets/tmdb_5000_movies.csv')
# generic_df1 = generic_df["Rankings for Halloween costumes,\nBased on US searches in September 2022"]
nongeneric_df = pd.DataFrame()
nongeneric_df["Costume"] = movies_df["title"]
# generic_df
# movies_df

In [19]:
mergedCostumes = pd.merge(generic_df, nongeneric_df, on=["Costume"], how='inner')
mergedCostumes

              Costume  Ranking
0          Spider-Man        2
1            Dinosaur        3
2         Hocus Pocus       14
3              Batman       19
4              Batman       19
..                ...      ...
80            Area 51      803
81      Zombie Hunter      805
82  The Addams Family      809
83          Sharknado      832
84         Pocahontas      854

[85 rows x 2 columns]